body {
    display: flex;
    flex-direction: column;
}

.score-labels{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    font-size: 22px;
    gap: 10px;
}

.scores {
    display: flex;
    gap: 10px;
}

.selection-labels {
    display: flex;
    gap: 10px;
}

.selections {
    display: flex;
    gap: 10px;
}

#play-round {
    display: flex;
    justify-content: center;
}