body {
    display: flex;
    flex-direction: column;
}

.score-labels {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    font-size: 22px;
    gap: 10px;
}

.player-score-label {
    margin-right: 100px;
}

.scores {
    display: flex;
    justify-content: center;
    font-size: 30px;
    gap: 10px;
}

#player-score {
    margin-right: 220px;
}

.selection-labels {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    font-size: 22px;
    gap: 10px;
}

#player-selec-label {
    margin-right: 200px;
}

.selections {
    display: flex;
    justify-content: center;
    font-size: 30px;
    gap: 10px;
}


#player-selec {
    margin-right: 360px;
}

#output {
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 20px;
    font-size: 24px;
}

.player-choices {
    display: flex;
    justify-content: center;
    gap: 50px;
}

button {
    padding: 8px 24px;
    font-size: 22px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

#play-again {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 30px;

}