body {
    display: flex;
    flex-direction: column;
}

.score-labels{
    display: flex;
    gap: 10px;
}

.scores {
    display: flex;
    gap: 10px;
}

.selections {
    display: flex;
    gap: 10px;
}

#play-round {
    display: flex;
    justify-content: center;
}